<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318693780430-1tpm4kqds7ds4c0i0uo5ernk8vp3jg44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318693780430-1tpm4kqds7ds4c0i0uo5ernk8vp3jg44</string>
	<key>API_KEY</key>
	<string>AIzaSyDmfDDaS5e-xhlFfR6QSNVFleyOj8vTBLE</string>
	<key>GCM_SENDER_ID</key>
	<string>318693780430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-7c0e4</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-7c0e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318693780430:ios:94d3cc5c43a09d63be599f</string>
</dict>
</plist>